In [14]:
import mysql.connector as connectior
import pandas as pd

In [34]:
# connector

conn = connectior.connect(port= '3306',
                         host= '127.0.0.1',
                         user = 'root',
                         password = '4317')
# create an cursor object .cursor() method
cursor = conn.cursor()

# select database to use
cursor.execute('USE store')

# extract data from table
cursor.execute('SELECT * FROM customers where points > 1000')

# fetch all data
data = cursor.fetchall()
for row in data:
        print("Id = ", row[0], )
        print("first_name = ", row[1])
        print("last_name  = ", row[2])
        print("birth_date  = ", row[3],)
        print("phone  = ", row[4],)
        print("address  = ", row[5])
        print("city  = ", row[6])
        print("state  = ", row[7])
        print("points  = ", row[8], "\n")

Id =  1
first_name =  Babara
last_name  =  MacCaffrey
birth_date  =  1986-03-28
phone  =  781-932-9754
address  =  0 Sage Terrace
city  =  Waltham
state  =  MA
points  =  2273

Id =  3
first_name =  Freddi
last_name  =  Boagey
birth_date  =  1985-02-07
phone  =  719-724-7869
address  =  251 Springs Junction
city  =  Colorado Springs
state  =  CO
points  =  2967

Id =  5
first_name =  Clemmie
last_name  =  Betchley
birth_date  =  1973-11-07
phone  =  None
address  =  5 Spohn Circle
city  =  Arlington
state  =  TX
points  =  3675

Id =  6
first_name =  Elka
last_name  =  Twiddell
birth_date  =  1991-09-04
phone  =  312-480-8498
address  =  7 Manley Drive
city  =  Chicago
state  =  IL
points  =  3073

Id =  7
first_name =  Ilene
last_name  =  Dowson
birth_date  =  1964-08-30
phone  =  615-641-4759
address  =  50 Lillian Crossing
city  =  Nashville
state  =  TN
points  =  1672

Id =  9
first_name =  Romola
last_name  =  Rumgay
birth_date  =  1992-05-23
phone  =  559-181-3744
address  =  3520 Ohio Trail
city  =  Visalia
state  =  CA
points  =  1486

### Create an table

In [36]:
# Establish a connection to the database
connection = connectior.connect(port= '3306',
                         host= '127.0.0.1',
                         user = 'root',
                         password = '4317')

# Create a cursor object to interact with the database
cursor = connection.cursor()

# select database
cursor.execute("USE store")

# SQL query to create a new table
create_table_query = """
CREATE TABLE IF NOT EXISTS employees (
    id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    department VARCHAR(255)
)
"""

# Execute the create table query
cursor.execute(create_table_query)

# Commit the changes to the database
connection.commit()

# Close the cursor and the connection
cursor.close()
connection.close()

print("Table created successfully!")

Table created successfully!

### Input data into table

In [16]:
# Establish a connection to the database
connection = connectior.connect(port= '3306',
                         host= '127.0.0.1',
                         user = 'root',
                         password = '4317')

# Create a cursor object to interact with the database
cursor = connection.cursor()

# select database
cursor.execute("USE store")

# input data
s = ('''INSERT INTO 
                    employees(id,first_name,last_name,department) 
                    VALUES (%s,%s,%s,%s)''', )

df  = [  (2,'Joh','Smih','Saes'),
         (3,'Joh','Smih','Saes'),
         (4,'Joh','Smih','Saes'),
         (5,'Joh','Smih','Saes'),
         (6,'Joh','Smih','Saes'),
         (7,'Joh','Smih','Saes'),
         (8,'Joh','Smih','Saes'),]

# execute query
cursor.executemany(*s,df)

# commit changes
connection.commit()

# close connection
cursor.close()
connection.close()

In [4]:
data= pd.read_csv('E:\\Neoron\\Programming_Practice\\Dataset\\Mall_Customers.csv')

### insert data from csv file

In [8]:
# create connection to database
conn = connectior.connect(port= '3306',
                         host= '127.0.0.1',
                         user = 'root',
                         password = '4317')

# create cursor
cursor = conn.cursor()
print('cursor is created successfully')

# create database
cursor.execute('CREATE DATABASE IF NOT EXISTS PYTHON_DB')
print('database is created successfully')

# create table

cursor.execute(''' CREATE TABLE IF NOT EXISTS 
               PYTHON_DB.Mall_Customers(
               ID INT NOT NULL AUTO_INCREMENT,
               GENDER VARCHAR(255),AGE INT,
               ANNUAL_INCOME INT,
               SPENDING_SCORE INT,
               PRIMARY KEY(ID))''')
print('table is created successfully')

# insert data into table
try:
    for i,row in data.iterrows():
        cursor.execute('''INSERT INTO PYTHON_DB.Mall_Customers VALUES(%s,%s,%s,%s,%s)''',tuple(row))
        conn.commit()
    print('data is inserted successfully')

except Exception as e:
    print('error occured',e)

cursor is created successfully
database is created successfully
table is created successfully
data is inserted successfully

### Extract data from sql data table

In [10]:
# create connection to database
conn = connectior.connect(port= '3306',
                         host= '127.0.0.1',
                         user = 'root',
                         password = '4317')

# create cursor
cursor = conn.cursor()
print('cursor is created successfully')

# extract data from database table
df = pd.read_sql('SELECT * FROM PYTHON_DB.Mall_Customers', conn)
print('data is extracted successfully')

cursor is created successfully
data is extracted successfully

C:\Users\nasir\AppData\Local\Temp\ipykernel_4896\1888796412.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM PYTHON_DB.Mall_Customers', conn)

### Update sql table

In [13]:
# create connection to database
conn = connectior.connect(port= '3306',
                         host= '127.0.0.1',
                         user = 'root',
                         password = '4317',
                         database = 'PYTHON_DB')

# create cursor
cursor = conn.cursor()
print('cursor is created successfully')


# update table 
cursor.execute('UPDATE Mall_Customers SET ANNUAL_INCOME = ANNUAL_INCOME+100 WHERE ANNUAL_INCOME < 100')
conn.commit()
print('table is updated successfully')

cursor is created successfully
table is updated successfully